---
title: Block
inMenu: true
template: /plugin.template
plugin: Tag/Block
---
h2(#description). Description


This tag is used to render a page file block (for more information about blocks have a look at the
<a href="{relocatable: /documentation/references/webpage_format.page}">WebPage Format reference</a>).


h2(#examples). Examples


<table class="examples">
<tr>
  <th>Usage</th><th>Output</th>
</tr>
<tr>
  <td>\{block: extrablock}</td>
  <td>{block: extrablock}</td>
</tr>
</table>

--- extrablock, textile

Data from the block named 'extrablock'.