---
title: WikiLink
inMenu: true
template: /plugin.template
plugin: Tag/WikiLink
---
h2(#description). Description


This tag can be used to add a link to a wiki page. It is used on this website to automatically
provide a "Feedback" link for each page.


h2(#examples). Examples


<table class="examples">
<tr>
  <th>Usage</th><th>Output</th>
</tr>
<tr>
  <td><notextile>\{wikilink: }</notextile></td>
  <td><notextile>{wikilink: }</notextile></td>
</tr>
<tr>
  <td><notextile>\{wikilink: {relURL: hallo}}</notextile></td>
  <td><notextile>{wikilink: {relURL: hallo}}</notextile></td>
</tr>
<tr>
  <td><notextile>\{wikilink: {relURL: hallo, linkText: MoinMoin}}</notextile></td>
  <td><notextile>{wikilink: {relURL: hallo, linkText: MoinMoin}}</notextile></td>
</tr>
</table>
