---
title: SmileyReplacer
inMenu: true
template: /plugin.template
plugin: Misc/SmileyReplacer
emoticonPack: ~
---
h2(#description). Description


This plugin replaces smiley (ie. such sequences as <notextile>;-), :-)</notextile>, ...) with
emoticons - graphics which express the same emotion as the smiley.

You can enable or disable the replacement of smileys globally by setting the parameter {param:
Misc/SmileyReplacer:emoticonPack} to an existing smiley package or @nil@. However, if a page has the
meta information @emoticonPack@, this meta info takes precedence over the global value. So, if the
replacement is globally enabled, you can disable it for a specifc page by setting the meta
information @emoticonPack@ to @nil@ (this was done for this page so that you can see the character
representation of the smileys). You can also change the used emoticon package for one page only by
setting @emoticonPack@ to another package name.


h2(#available-packs). Available Emoticon Packs


Following is a table showing the available smileys and their representation with various emoticon
packages. The header shows the smiley you have to use so that you get one of the emoticons below it,
depending on the used emoticon package.

Note: I have found these smileys in various places on the Internet and think they are free to use.
If not, please mail me sothat I can remove them!

Credits:

* smellies: I have taken the smellies emoticons from "Kebawe.com":http://kebawe.com/smellies/ !
* crystal: The crystal emoticons are from "http://kde-look.org/content/show.php?content=10681":http://kde-look.org/content/show.php?content=10681 .
* icqstyle: These are from "http://kde-look.org/content/show.php?content=23226":http://kde-look.org/content/show.php?content=23226 .

<notextile>{showEmoticonPacks:}</notextile>