---
title: References
directoryName: References
---
h2. About


This part of the documentation contains some references for your convenience:

* <b><a href="{relocatable: webpage_format.page}">WebPage Format Reference</a></b>

  Describes the structure and format of the WebPage Format, the format used, for
  example, for page and template files.

* <b><a href="{relocatable: sipttra_format.page}">sipttra Format Reference</a></b>

  Describes the sipptra (Simple Plain Text Tracker) format.

* <b><a href="{relocatable: meta_info_reference.page}">Meta Information Reference</a></b>

  Provides an overview over all special meta information keys that can be used in conjunction with
  webgen.

* <b><a href="{relocatable: resource_reference.page}">Resource Reference</a></b>

  Provides an overview over all predefined resources!

* <b><a href="{relocatable: parameter_reference.page}">Parameter Reference</a></b>

  Lists the parameters for all plugins for easy search and retrieval.

* <b><a href="{relocatable: /api.html}">API Reference</a></b>

  Provides detailed API documentation through RDOC generated documents.
